<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KinalApp - Login</title>
    <link rel="icon" href="../static/images/logoKinal.png" th:href="@{/images/logokinal.png}">
    <link rel="stylesheet" th:href="@{/css/client.css}" href="../static/css/client.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>prueba conexion client CRUD</h1>
</body>
</html>