<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>KinalApp - Register</title>
  <link rel="icon" href="../static/images/logoKinal.png" th:href="@{/images/logokinal.png}">
  <link rel="stylesheet" th:href="@{/css/register.css}" href="../static/css/register.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="register-container">
  <form class="register-form" method="post" th:action="@{/register}" th:object="${newUser}">
    <div class="register-header">
      <h1 class="register-title">KinalApp | Register</h1>
      <img th:src="@{/images/logokinal.png}" src="../static/images/logoKinal.png" alt="Logo Kinal" class="register-logo">
    </div>
    <div class="form-group">
      <label for="username" class="form-label">Usuario</label>
      <input type="text" th:field="*{userName}" id="username" name="userName" class="form-input" placeholder="Ingrese su usuario" required>
    </div>
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input type="email"  th:field="*{userEmail}" id="email" name="userEmail" class="form-input" placeholder="Ingrese su email" required>
    </div>
    <div class="form-group">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" th:field="*{userPassword}" id="password" name="userPassword" class="form-input" placeholder="Ingrese su contraseña" required>
    </div>
    <button type="submit" class="btn-register" href="#" th:href="@{/register}">Registrate</button>
    <div class="register-footer">
      <p>¿Ya tiene cuenta? <a href="#" class="login-link" th:href="@{/login}">Inicie Sesion Aqui</a></p>
    </div>
  </form>
</div>
</body>
</html>